@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova&family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  overflow-x: hidden; }

div.backgroundImage img {
  position: fixed;
  z-index: -10000;
  width: 100%;
  height: 100%; }

div.gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)); }

input[type="submit"] {
  cursor: pointer; }

div.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000; }
  div.modal div.grid {
    background-image: none; }
    div.modal div.grid div.content {
      background-color: #333333;
      padding: 80px 40px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      margin-top: 15px; }
      div.modal div.grid div.content div.close {
        width: 100%;
        margin-top: -30px; }
        div.modal div.grid div.content div.close i {
          color: #FFFFFF;
          font-size: 25px;
          float: right;
          cursor: pointer; }
      div.modal div.grid div.content span {
        color: #FF0000;
        text-decoration: none;
        cursor: default; }

@keyframes float {
  0% {
    right: -3000px; }
  100% {
    right: 0; } }
@keyframes close-float {
  0% {
    left: 0; }
  100% {
    left: -3000px; } }
div.grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;
  _background-image: url("img/etienne-martin-2_K82gx9Uk8-unsplash.jpg");
  _background-size: cover;
  _background-repeat: no-repeat; }

div.content {
  z-index: 999;
  margin: auto; }
  div.content div.header {
    margin-top: 20px; }
    div.content div.header h1 {
      color: #D5D5D5;
      font-family: "Ibarra Real Nova", serif;
      text-align: center;
      font-size: 90px;
      text-shadow: 2px 4px 2px rgba(0, 0, 0, 0.25); }
  div.content div.form {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column; }
    div.content div.form form {
      width: 800px; }
      div.content div.form form input {
        padding: 10px;
        color: #000;
        margin-bottom: 35px;
        border: none; }
      div.content div.form form input[type="submit"] {
        width: auto;
        margin: auto;
        color: #EEEEEE;
        padding: 12px 24px;
        background-color: #4786fa;
        border: none;
        border-radius: 5px;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        transition: background 0.2s ease; }
        div.content div.form form input[type="submit"]:hover {
          background-color: #043ca4; }
    div.content div.form form > * {
      display: block;
      color: #D5D5D5;
      font-size: 22px;
      font-family: "Poppins", sans-serif;
      width: 100%; }
    div.content div.form label {
      color: #D5D5D5;
      font-family: "Poppins", sans-serif;
      font-size: 22px;
      margin-top: 25px; }
      div.content div.form label span {
        color: #4786fa;
        text-decoration: underline;
        cursor: pointer; }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  div.content div.header h1 {
    font-size: 80px; }
  div.content div.form form {
    width: 700px; }

  div.modal div.grid div.content {
    margin-top: 15px; } }
@media only screen and (min-width: 481px) and (max-width: 768px) {
  div.content div.header h1 {
    font-size: 65px; }
  div.content div.form {
    margin-top: 2rem; }
    div.content div.form form {
      width: 400px; }
      div.content div.form form label {
        padding-bottom: 0; }
    div.content div.form form > * {
      font-size: 15px; }
    div.content div.form label {
      font-size: 15px;
      padding-bottom: 30px; }

  div.modal div.grid div.content {
    padding: 30px 15px;
    margin-top: 15px; }
    div.modal div.grid div.content div.close {
      margin-top: -20px; }
      div.modal div.grid div.content div.close i {
        font-size: 20px; } }
@media only screen and (min-width: 320px) and (max-width: 480px) {
  div.content div.header h1 {
    font-size: 45px; }
  div.content div.form {
    margin-top: 1rem; }
    div.content div.form form {
      width: 280px; }
      div.content div.form form input {
        _padding: 5px; }
      div.content div.form form label {
        padding-bottom: 0; }
    div.content div.form form > * {
      font-size: 15px; }
    div.content div.form label {
      font-size: 15px;
      padding-bottom: 30px; }

  div.modal {
    width: 100vw; }
    div.modal div.grid div.content {
      padding: 20px 15px;
      margin-top: 20px; }
      div.modal div.grid div.content label {
        padding-bottom: 0; }
      div.modal div.grid div.content div.close {
        margin-top: -10px; }
        div.modal div.grid div.content div.close i {
          font-size: 15px; } }

/*# sourceMappingURL=app.css.map */
